
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate__fadein{
    animation: fadeInAnimation ease 3s;
    transition: all 3s;
}

@keyframes fadeInUpAnimation {
    0% {
        transform: translate3d(0, 5rem, 0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.animate__fadeinup{
    animation: fadeInUpAnimation ease 3s;
    transition: all 3s;
    
}

.animate__fadeinright{
    animation: fadeInRightAnimation 2s;
    transition: all 2s;
}

@keyframes fadeInRightAnimation {
    0% {
        transform: translateX(10rem);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes doublePulse{
    0% {
        transform: scale(1);
      }

    50% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(1);
    }
}

.animate__zoomin {
    animation: zoom-in 0.3s ease;
}


@keyframes zoom-in{
0% {
    transform: scale(0);
    opacity: 0;
}
100% {
    transform: scale(1);
    opacity: 1;
}
}

.animate__zoomout {
animation: zoom-out 0.3s ease;
}


@keyframes zoom-out{
from {
    transform: scale(1);
    opacity: 1;
}
to {
    transform: scale(0.8);
    opacity: 0;
}
}


.animate__reveal{
    animation: reveal 1s ease;
    transform-origin: top;
    overflow: hidden;
}


@keyframes reveal{
    from{
        transform: scaleY(0);
       
    }
    to{
        transform: scaleY(1);
    }
}

.animate__conceal{
    animation: conceal 1s ease;
    transform-origin: top;
    overflow: hidden;
}

@keyframes conceal{
    from{
        transform: scaleY(1);
    }
    to{
        transform: scaleY(0);
    }
}

.animate__flip{
    animation: flip 1s ease;
}

@keyframes flip{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(180deg);
    }
}

.animate__reverseflip{
    animation: reverseflip 1s ease;
}

@keyframes reverseflip{
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-right {
animation: slideInRight 0.5s ease-out forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(0);
        opacity: 0;
    }
    to {
        transform: translateX(100%);
        opacity: 1;
    }
}

.slide-in-left {
animation: slideInLeft 0.5s ease-out forwards;
}
