$color-textparagraph: #8f969d;
$color-blue: #0084ff;
$color-dark-blue: #096ac4;
$color-blue-dark: #015cb0;
$color-white: rgb(255, 255, 255);
$color-background-ash: #ffffff;
$color-background-ash2: #daddd646;
$color-orange: #f62;
$color-hover: rgba(45, 45, 45, 0.838);
$color-heading-black: black;
$color-icon-green: green;
$color-icon-yellow: #c8c801;
$color-popup-overlay:#ffffff8f;
$color-popup-img: #efeded;
$color-purple: purple;


// Media Queries
$bp-largest: 73.44rem; //1175px
$bp-large: 61.38rem; //982px
$bp-medium: 48rem; //768px
$bp-small: 36rem; //576px
$bp-micro: 26.56rem; //425px
// $bp-mini: 30.38rem; //486px



  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    // border: 1px solid red;
  }

  
  
  html {
    box-sizing: border-box;
    font-size: 80%;

    @media only screen and (max-width: $bp-largest){
      font-size: 70%;
    }

    @media only screen and (max-width: $bp-medium){
      font-size: 62%;
    }

    @media only screen and (max-width: $bp-small){
      font-size: 53%;
    }

    @media only screen and (max-width: $bp-micro){
      font-size: 42%;
    }

  }

  body{
    font-family: 'Poppins';
    background-color: #ffffff;  
    overflow-x: hidden;
 }

 .heading-1{
  font-size: 2rem;
 }

 .heading-2{
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
 }

 .heading-3{
  font-size: 1.5rem;
  font-weight: 600;
 }

 .heading-paragraph{
  display: block;
    font-size: 1.6rem;
    text-align: center;
    justify-self: center;
    color: $color-textparagraph;
 }

 .section__heading{
  display: grid;
  justify-content: center;
 
  &::after{
    display: grid;
    content: " ";
    background-color: $color-background-ash2;
    width: 7rem;
    height: 1rem;
    justify-self: center;
    margin-top: 1.5rem;
 }
}

.section__hidden{
  opacity: 0;
  transform: translateY(8rem);
}

.sticky{
  position: sticky;
  top: 0;
  background-color: $color-white !important;
  padding-top: 0rem !important;
  height: 6.5rem !important;


  &__logo{
      display: block;
      height: 9rem;
  }
}

.hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.btn__blue{
  font-size: 2.5rem;
  color: $color-white;
  background-color: $color-blue;

  &:hover{
    background-color: $color-hover;
}

}

