@use 'base.scss' as b;

@mixin section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    // padding-top: 6rem;
}

@mixin popup{
    display: grid;
    grid-template-columns: minmax(0rem, 1fr) minmax(70rem, 1fr) minmax(0rem, 1fr);
    grid-template-rows: 55rem;
    align-content: center;
    background-color: b.$color-popup-overlay;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    height: 100dvh;

    @media only screen and (max-width: b.$bp-medium){
        grid-template-columns: minmax(0rem, 1fr) minmax(40rem, 1fr) minmax(0rem, 1fr);
    }
}

 