@use 'base.scss' as b;

@mixin section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    // padding-top: 6rem;
}

@mixin popup{
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100vh;
}

 