@use '../index.scss' as i;

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 6rem;
    background: transparent;
    padding-top: 2rem;

    @media only screen and (max-width: i.$bp-medium){
        justify-content: space-between;
      }

    &__logo{
    display: block;
    height: 11rem;

    @media only screen and (max-width: i.$bp-medium){
        margin-left: 3rem;
      }
    }

    
    &__btn{
        display: flex;
        flex-direction: column;
        width: 18%;
        background-color: i.$color-orange;
        border-radius: 5rem;
        border-color: i.$color-orange;
        border: none;
        color: i.$color-white !important;
        height: 3rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        justify-content: center;

        @media only screen and (max-width: i.$bp-largest){
            width: 24%;
        }

        &:hover{
            background-color: i.$color-hover;
        }
    }

}

.nav{
    width: 70%;
    font-size: 1.3rem;
    text-transform: uppercase;
    z-index: 2;

    @media only screen and (max-width: i.$bp-medium){
        display: none;
      }


    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        list-style: none;

        
    }

    &__list a{
        text-decoration: none;
        color: i.$color-textparagraph;
        font-weight: 500;

        &:hover{
            color: i.$color-heading-black;
        }
    }

    

        
    }

//     &__video{
//         @include i.popup;

//         & video{
//             width: 20%;
//         }
        

// }

.description3__flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & p{
        text-transform: uppercase;
        color: i.$color-blue;
        font-weight: 500;
    }
}

.checkout__btn{
    background-color: i.$color-blue;
    color: i.$color-white;
    border: none;
    width: 100%;
    height: 60%;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;

    &:hover{
        background-color: i.$color-hover;
    }
}

.nav__responsive{
    display: none;

    @media only screen and (max-width: i.$bp-medium){
        display: none; //block
        background-color: i.$color-white;
        z-index: 10;
        min-width: 30rem;
        height: 82rem;
        align-self: self-start;
        // justify-self: end;
        margin-top: -2rem;

        &--list{
            display: grid;
            grid-template-rows: repeat(6, 7rem);
            grid-template-columns: 22rem 5rem;
            list-style: none;
            padding-left: 2rem;
    
    
            & li{
                align-content: center;
                height: 100%;
                border-bottom: solid 0.1rem;
            }
    
            &-home{
                grid-row: 1 / 2;
                grid-column: 1 /3;
            }
    
            &-product{
                grid-row: 2 / 3;
                grid-column: 1 /3;
            }
    
            &-features{
                grid-row: 3 / 4;
                grid-column: 1 /3;
            }
    
            &-reviews{
                grid-row: 4 / 5;
                grid-column: 1 /3;
            }
    
            &-contact{
                grid-row: 5 / 6;
                grid-column: 1 /3;
            }
    
            &-blog{
                grid-row: 6/ 7;
                grid-column: 1 /3;
            }
        }
    
        &--list a{
            text-decoration: none;
            font-size: 1.5rem;
            color: i.$color-heading-black;
    
            &:active{
                color: i.$color-textparagraph;
            }
        }
    
        &--close{
            grid-row: 1 / 2;
            grid-column: 2/3;
        
           
    
            & svg{
                width: 40%;
                height: 25%;
            }
        }
    }
    

    &--menu{
        display: none;

        @media only screen and (max-width: i.$bp-medium){
            display: block;
            z-index: 5;
            width: 10rem;

            & svg{
                width: 30%;
                height: 50%;
            }
        }
        
    }
}
