@use '../index.scss' as i;

.app{
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) minmax(min-content, 42rem) minmax(3rem, 1fr) minmax(20rem, 45rem) minmax(3rem, 1fr);
    grid-template-rows: auto; //55rem
    background-color: i.$color-heading-black;
    // column-gap: 1fr;

    @media only screen and (max-width: i.$bp-medium){
        grid-template-columns: minmax(6rem, 1fr) minmax(5rem, 45rem) minmax(6rem, 1fr);
        grid-template-rows: 35rem 47rem;
    }

    &__img{
            grid-column: 2/3;
            max-width: 100%;
            height: 100%;
            align-self: end;
            align-content: end;
            justify-content: end;
            padding-top: 4rem;

            @media only screen and (max-width: i.$bp-medium){
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
    }

    &__header{
        grid-column: 4/5;
        align-content: center;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto; //repeat(3, 1fr)
        color: i.$color-white;
        height: 100%;
        row-gap: 2rem;

        @media only screen and (max-width: i.$bp-medium){
            grid-column: 2 / 3;
            grid-row: 1 / 2;

            gap: 2rem;
        }

        &--text{
            grid-row: 2/3;
            grid-column: 1/3;
        }

        &--logo1{
            grid-row: 3/4;
            grid-column: 1/2;
            max-width: 100%;
        }

        &--logo2{
            grid-row: 3/4;
            grid-column: 2/3;
            max-width: 100%;
        }

        

        & h2{
            text-align: start !important;
            color: i.$color-white !important;

            @media only screen and (max-width: i.$bp-medium){
                text-align: center !important;
            }
        }

        & P{
            text-align: start !important;
        }

        & a{
            & img{
                width: 80%;
            }

        }
    }
}