@use '../index.scss' as i;

.video{
    @include i.popup;
    display: none;

    &__content{
        grid-column: 2 / 3;
        justify-self: center;
        align-self: center;
        z-index: 400;
        // height: 48rem;
        // width: 100%;

        & iframe{
            width: 70rem;
            height: 48rem;
            // autoplay: 1;

            @media only screen and (max-width: i.$bp-medium){
                width: 50rem;
                height: 38rem;
            }
        }
    }

    &__cross{

        & svg{
            display: grid;
            width: 1.1rem;
            height: 1.1rem;
            margin-top: 1rem;
            fill: i.$color-heading-black;
            justify-self: end;
            margin-bottom: 2rem;

            @media only screen and (max-width: i.$bp-micro){
                margin: 0rem 3rem 3rem 0rem;
            }
        }
    }
}